body
 { color: black;
 background: cyan;
 } .heading { width: 80%;
    font-family: 'Kolker Brush', cursive;
 font-size: 100px; } 
 #camera { border: 2px dashed black;
 width: 350px; height: 300px; }
 .name_of_objects, #result_object_name , #result_object_accuracy { color:darkblue;
    font-family: 'Kolker Brush', cursive;
    font-size: 75px;
 }